<div class="layout-wrapper" [ngClass]="{'layout-wrapper-menu-active':sidebarActive}">

    <app-topbar></app-topbar>
    
    <app-sidebar></app-sidebar>
    
    <!--<div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
        <div #layoutMenuScroller class="nano">
            <div class="nano-content menu-scroll-content">
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </div>
    </div> -->
    
    <div class="layout-main">
        <div class="layout-main-content">
            <router-outlet></router-outlet>
            
            <app-footer></app-footer>
        </div>
    </div>

</div>